version: '3.8'

services:
  redis:
    image: redis:latest         
    container_name: redis_cache
    ports:
      - "6379:6379"
    restart: always
    volumes:
      - redis-data:/data

volumes:
  redis-data: